.bill {
    width: 710rpx;
    display: block;
    margin: 0 auto;
    .order-info {
        // height: 100rpx;
        width: 100%;
        padding: 10rpx 0;
        border-bottom: 1rpx solid #ccc;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        .left {
            display: flex;
            align-items: center;
            image {
                width: 40rpx;
                height: 40rpx;
            }
        }
        .right {
            width: 410rpx;
            flex-direction: row;
            .name {
                width: 100%;
                font-size: 28rpx;
                padding-top: 9rpx;
                text-align: left;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .spec {
                width: 410rpx;
                height: auto;
                color: #ccc;
                font-size: 28rpx;
                text-align: left;
                padding: 10rpx 0;
                word-wrap: break-word;
                word-break: normal;
            }
        }
        .price-number {
            width: 160rpx;
            display: flex;
            justify-content: flex-end;
            font-size: 28rpx;
            align-items: center;
            .number {
                font-size: 28rpx;
                color: #B4A078;
                padding-left: 30rpx;
            }
        }
    }
    .onorder {
        width: 100%;
        height: 90vw;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        image {
            width: 20vw;
            height: 20vw;
        }
        .text {
            width: 100%;
            height: 60upx;
            font-size: 24upx;
            color: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}