page {
    height: 100vh;
    width: 100%;
}

.container {
    padding: 0;
    height: auto;
    width: 100%;
    border-top: 1rpx solid #ccc;
    background: #f4f4f4;
}

.order-goods {
    background: #fff;
    width: 100%;
}

.order-goods .item {
    display: flex;
    align-items: center;
    height: 96px;
    margin-left: 15.625px;
    margin-right: 15.625px;
    border-bottom: 0.5px solid #f4f4f4;
}

.order-goods .item:last-child {
    border-bottom: none;
}

.order-goods .item .img {
    height: 72.915px;
    width: 72.915px;
    background: #f4f4f4;
}

.order-goods .item .img image {
    height: 72.915px;
    width: 72.915px;
}

.order-goods .item .info {
    flex: 1;
    height: 72.915px;
    margin-left: 10px;
	margin-top: 40rpx;
	
}

.order-goods .item .t {
    margin-top: 4px;
    height: 16.5px;
    line-height: 16.5px;
    margin-bottom: 5.25px;
}

.order-goods .item .t .name {
    width: 460rpx;
    padding-right: 15rpx;
    display: block;
    float: left;
    height: 16.5px;
    line-height: 16.5px;
    color: #333;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.order-goods .item .t .number {
    display: block;
    float: right;
    height: 16.5px;
    text-align: right;
    line-height: 16.5px;
    color: #333;
    font-size: 13px;
}

.order-goods .item .attr {
    height: 14.5px;
    width: 380rpx;
    line-height: 14.5px;
    color: #666;
    margin-bottom: 12.5px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.order-goods .item .price {
    height: 15px;
    line-height: 15px;
    color: #333;
    font-size: 13px;
}

.reback-info {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 15rpx;
    .desc {
        width: 100%;
        position: relative;
        margin-left: 30rpx;
        margin-right: 30rpx;
        textarea {
            width: 640rpx;
            height: 220rpx;
            border-radius: 12rpx;
            padding: 5rpx;
			font-size: 24rpx;
        }
    }
}

.reback-addr {
    margin: 0 31.25rpx;
    height: 60rpx;
    line-height: 60rpx;
	font-size:25rpx;
	color: #666;
    .name {
        color: #666;
        font-size: 25rpx;
        padding: 10rpx 0;
    }
    .notice {
        color: #666;
        font-size: 24rpx;
        padding: 10rpx 0;
        text-align: center;
    }
}

.judge-star {
    padding: 0 31.25rpx;
    background: #fff;
    .box {
        display: flex;
        justify-content: space-between;
        .left {
            height: 60rpx;
            line-height: 60rpx;
            padding-left: 10rpx;
			font-size: 24rpx;
			color: #666;
        }
    }
}

.up-pics {
    padding: 15rpx 30rpx;
    background: #fff;
    .pic {
        width: 160rpx;
        height: 160rpx;
        margin: 6rpx;
        background: #f4f4f4;
        display: inline-block;
        img {
            width: 160rpx;
            height: 160rpx;
            position: relative;
            z-index: 10;
        }
        img:before {
            content: '';
            width: 2rpx;
            height: 50%;
            position: absolute;
            background: #ccc;
            top: 25%;
            left: 50%;
            z-index: 1;
        }
        img:after {
            content: '';
            height: 2rpx;
            width: 50%;
            position: absolute;
            background: #ccc;
            top: 50%;
            left: 25%;
            z-index: 1;
        }
    }
}
.reback-addr.bottom {
    margin: 0 31.25rpx;
    height: 160rpx;
    line-height: 60rpx;
	font-size:25rpx;
	color: #666;
	padding-bottom:100rpx;
	checkbox {
		transform: scale(.7);
	}
}

.btn-group {
	width: 100%;
    display: flex;
    justify-content: center;
	position:fixed;
	bottom:0;
    .cancle {
		width: 100%;
        padding: 10rpx 0;
		/* #ifdef MP || APP-PLUS */
		height: 75rpx;
		line-height: 60rpx;
		/* #endif */
		/* #ifdef H5 */
		height: 60rpx;
		line-height: 60rpx;
		/* #endif */
        text-align: center;
        font-size: 28rpx;
        color: #fff;
        background: #B4282D;
    }
}
