.total-wrap {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    padding: 0rpx 40rpx 0rpx;
    .logistics-title {
        height: 72rpx;
        box-sizing: border-box;
        padding: 36rpx 0 8rpx;
        line-height: 28rpx;
        color: #4B4B4B;
        font-size: 26rpx;
        font-family: 'PingFangSC-Medium';
        text-align: left;
    }
}